---
layout: default
title: Programma
---
<div class="container">
<div class="columns">
  {% for giorno in site.data.programma %}
  <div>
    <a data-bs-toggle="collapse" role="button" href="#container-{{giorno.giorno | replace: '/', ''}}" class="day-header">
      {{giorno.giorno}}
    </a>
    <div class="day-container collapse" id="container-{{giorno.giorno | replace: '/', ''}}" data-day="{{giorno.giorno}}">
    {% for evento in giorno.eventi %}
    {% if evento.empty %}

      <div class="duration-{{evento.empty}}"></div>
    {% else  %}
<div class="evento  duration-{{evento.durata}}">

    <div class="card card-event">


                {% if evento.luogo %}<div class="luogo-evento" style="display: inline-flex; align-items:baseline; line-height: 110% ">
                    <i class="material-symbols-rounded" style="width: 1.5em; font-size: 14pt; position:relative; top: 2px;">place</i>
                    {{evento.luogo}}
                    {% if evento.aula %} - {{evento.aula}} {% endif %}
                </div>
                {% endif %}
      <div class="ora-evento" style="display: inline-flex; align-items:baseline;">
        <i class="material-symbols-rounded" style="width: 1.5em;font-size: 14pt; position:relative; top: 1px;">schedule</i>
        {{evento.ora | date: ""}}
      </div>

      {% if evento.tipo %}
        <div class="tipo-evento">
            {{evento.tipo}}
        </div>
        {% endif %}
      <div class="titolo-evento">
        {{evento.titolo}}
      </div>

      {% if evento.info %}
        <div class="info-evento">
            {{evento.info}}
        </div>
        {% endif %}

        {% if evento.speakers %}
    <div style="margin-top: 0.7em">

      {% for speaker in evento.speakers %}
      <div class="flex-row speaker">
        <i class="material-symbols-rounded">person</i>
        <div>
            <div class="speaker-name">{{speaker.nome}}</div>
            <div class="speaker-bio">{{speaker.ruolo}}</div>
        </div>
      </div>
      {% endfor %}
      </div>
      {% if evento.streaming %}
      <div class="streaming" style="display: flex; justify-content: flex-end">
          <a href="{{evento.streaming}}" target="_blank" class="btn primary-background" style="display: flex; align-content: center; justify-content: center; padding: 0.3em 0.5em;width: fit-content; margin-top: 0.5em; font-size: 100%;"><i class="material-symbols-rounded" style="margin-right: 0.2em">
            play_arrow
          </i>Streaming</a>
          </div>
      {% endif %}
    {% endif %}
        </div>
    </div>
    {% endif %}
      {% endfor %}
</div>

    </div>

  {% endfor %}

</div>
</div>
