---
layout: default
title: Sponsor
---

<div class="container-smaller">
    {% for section in site.data.sponsor %}
    <h3 class="text-accent text-center" style="margin-top: 4em">{{section.section}}</h3>
    <div class="card">
        <div class="card-body flex-row justify-content-center align-items-center" style="gap: 2em; flex-wrap: wrap; margin: 0">
            {% for ente in section.list %}
            <a href="{{ente.url}}" class="overlay-opacity">
                <img style="max-height: 100px; max-width: 100%" src="{{ente.logo}}" alt="{{ente.nome}}" class="img-sponsor">
            </a>

            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

