<footer>
  <div class="container-smaller footer-container">
  <div style="margin:0.5em">

<h3 >Associazione Italiana Studenti di Fisica</h3>

L'Associazione Italiana Studenti di Fisica è un'associazione con finalità culturali, il cui obiettivo è la creazione di un network tra gli studenti di Fisica italiani attraverso l'organizzazione di eventi locali, nazionali e internazionali. Conta più di 1400 membri e 15 Comitati Locali; è Comitato Nazionale dell'International Association of Physics Students (IAPS).

</div>

<div style="margin:1em">


	<h3>Contatti</h3>
	<a href="mailto:cisf24@ai-sf.it">Comitato Organizzatore</a>

<h3>Seguici</h3>
<a href="https://instagram.com/cisf_24">Instagram</a>



</div>


  </div>
</footer>
